<section>
    <div class="container text-center">
        <div class="col-md-8">
            <div>
                    <p class="display-6 p-5">ADD-CATEGORY-BANNER</p>
                </div>
            <form action="/admin/add-banners" method="post" enctype="multipart/form-data">
                 <div class="custom-file mb-3">
                    <label for=""></label>
                    
                            <input type="file" class="custom-file-input" id="helmet" name="helmet"required >
                            <label class="custom-file-label" for="customFile" >Update banner of HELMET section</label>
                        </div>
                         <div class="custom-file mb-3">
                    
                            <input type="file" class="custom-file-input" id="accessories" name="accessories" >
                            <label class="custom-file-label" for="customFile" >Update banner of ACCESSORIES section</label>
                        </div>
                <div class="custom-file mb-3">
                    
                            <input type="file" class="custom-file-input" id="racing" name="racing">
                            <label class="custom-file-label" for="customFile" >Update banner of RACING section</label>
                        </div>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="sport" name="sport" >
                            <label class="custom-file-label" for="customFile" >Update banner of SPORT section</label>
                        </div>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="touring" name="touring" >
                            <label class="custom-file-label" for="customFile">Update banner of TOURING section</label>
                        </div>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="offRoad" name="offRoad" >
                            <label class="custom-file-label" for="customFile">Update banner of OFF-ROAD section</label>
                        </div>
                <div class="custom-file mb-3">
                    
                            <input type="file" class="custom-file-input" id="visors" name="visors" >
                            <label class="custom-file-label" for="customFile" >Update banner of VISORS section</label>
                        </div>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="communications" name="communications" >
                            <label class="custom-file-label" for="customFile" >Update banner of COMMUNICATION section</label>
                        </div>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="pads" name="pads" >
                            <label class="custom-file-label" for="customFile">Update banner of PADS section</label>
                        </div>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="others" name="others" >
                            <label class="custom-file-label" for="customFile">Update banner of OTHERS section</label>
                        </div>
                        <button class="btn active mb-3" type="submit">
                            ADD-PRODUCT
                            <span style="margin-left: 1em;"></span>
                        </button>
            </form>
        </div>

    </div>
</section>