<section>
    <div class="container p-5">
        <div class="row">
        <div class="col-md-12 col-12">
            <div>
                <div class="all-prod ">
                     <h3 class="tittle text-white">ALL PRODUCTS</h3>
                     <table class="table ">
  <thead>
    <tr class="text-warning">
      <th >#</th>
      <th >Product Name</th>
      <th>Model</th>
      <th >Category</th>
      <th >Sub-category</th>
      <th>Available Sizes</th>
      <th>Price</th>
      <th>No.Of Stocks</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-white">
      <th scope="text-warning">1</th>
      <td>K6 AGV PISTA R</td>
      <td>K6</td>
      <td>HELMETS</td>
      <td>RACING</td>
      <td>S M L XL XXL</td>
      <td>&#8377; 12345</td>
      <td>123</td>
      <td>
        <button><i class="fa-solid fa-file-pen fs-5 text-info"></i></button>
        <button><i class="fa-solid fa-trash-can fs-5 text-danger"></i></button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
                </div>
                <div>
                    
                </div>
            </div>
            </div>
            </div>
        </div>
    
</section>