<section>
    <div class="">
        <img src="/images/about-us-1.jpg" class="img-fluid">
    </div>
    <div class="container p-5">
        <h5 class=" text-black">
            AGV has been a leading force in helmet design and motorcycle racing since its foundation, ceaselessly
            innovating every area from aerodynamics, comfort and safety to graphics, sponsorship and advertising. <br>
            <br>
            Founded in 1947 by Gino Amisano (1920–2009), AGV rapidly won an unrivalled reputation for its innovative
            designs and materials, tested on the racetrack and developed with sponsored World Championship riders,
            including 15-times World Champion Giacomo Agostini and modern MotoGP legend Valentino Rossi.
            Acquired by fellow Italian innovator, motorcycle and dynamic sport clothing company Dainese in July 2007,
            AGV continues to go from strength to strength.
            Combining their research and design expertise, AGV and Dainese provide uniquely complete safety and
            performance solutions that deliver advanced protection from head to toe.
        </h5>
    </div>
    <div class="container-fluid">
        <div class="row   ">
            <div class="col-md-6 col-12 ">

                <div class="d-herosplit__copy text-center">
                    <h3 style="color: #000;">
                        <strong>MOTORCYCLE RACING <br> TRANSFORMED</strong>
                    </h3>
                    <p class="text-black">
                        The company Gino Amisano founded proudly took the initials of his name and town – Amisano Gino
                        Valenza – to form the name AGV and a legend was born. A legend that would transform almost every
                        aspect of motorcycle racing.
                        Trained as an accountant and with previous experience as a partner in a company making leather
                        saddle covers and soft helmets for cyclists, Amisano's first products were immediately on the
                        leading edge: leather saddles for the revolutionary Lambretta and Vespa just launched on the
                        market, and an equally innovative leather helmet..
                    </p>
                    <br>
                    <br>

                </div>
            </div>

            <div class="col-md-6 col-12 ">
                <img src="/images/about-us-2.jpg" class="img-fluid" alt="" srcset="">
            </div>


        </div>
    </div>
    <div class="container-fluid bg-dark">
        <div class="container p-5">
            <div class="row bg-black  ">
                <div class="col-md-6 col-12">
                    <img src="/images/about-us-4.jpg" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-md-6 col-12 bg-black">

                    <div class="d-herosplit__copy text-center">
                        <h3 style="color: #ffff;">
                            <f class="fs-3">FIRST SHELL HELMET</f><strong> AND FIRST FIBERGLASS HELMENT</strong>
                        </h3>
                        <p class="text-white">
                            Unlike the soft helmets of the time, AGV's forward-looking design formed a leather outer
                            over a mold and then baked it slowly to form a rigid protective shell that was fitted with a
                            comfortable energy-absorbing padded leather lining. And so, the first example of the modern
                            helmet concept was born.
                            AGV experimented with a wide range of alternative shell materials until settling upon an
                            innovative solution that marked a revolutionary development in helmet design, creating the
                            first fiberglass crash helmet in 1954.
                            The next big step forwards came just two years later when AGV superseded it's classic
                            ""pudding basin"" or ""shorty"" shape with the much more protective, enveloping design of
                            the ""Jet"" helmet.
                        </p>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-5">
        <h3 class="text-black p-3">
            <f class="fs-3">PIONEERING CHANGES</f><br><strong>
                FROM THE RACETRACK TO THE SILVER SCREEN</strong>
        </h3>
        <h6 class=" text-black">
            <div class="row">
                <div class="col-md-6">
                    AGV has also been a force for change in many areas outside helmet design. It revolutionized life on
                    the racetrack by actively involving top champions in the testing and development of its
                    world-leading designs, starting with MV Augusta's star racer Carlo Bandirola, an early adopter of
                    the first fiberglass design. Following fast on his wheels was Renzo Pasolini, who only moved on from
                    his beloved AGV Jet to the company's championship-winning full-face models in the seventies. <br>
                    AGV was also the first company to really make its mark on the racetrack when it pioneered trackside
                    advertising in 1958, displaying a banner on a prominent bend. Within months the company had become a
                    household name, its logo frequently seen in newspaper and magazine photos worldwide, as it would be
                    later on TV. <br>
                    Amisano built on this with some of the first ever product placements in the movies, including “A
                    place for lovers” by De Sica, starring Faye Dunaway and Marcello Mastroianni.
                </div>
                <div class="col-md-6">
                    Springboarding from these achievements, AGV's international visibility really shifted up a gear in
                    1972, when Amisano began a program of rider sponsorship that continues to this day. The names are
                    like a roll-call of the world's top champions and best-loved riders, from Marco Lucchinelli, Franco
                    Uncini, Kenny Roberts, Barry Sheene, Randy Mamola, Johnny Cecotto, Steve Baker and Angel Nieto to
                    the all-time giants Giacomo Agostini and Valentino Rossi, who have both used AGV helmets throughout
                    their careers. <br>
                    The close involvement of AGV's riders in the design, testing and development of their helmets has
                    culminated in the intensive involvement of multi-world-champion Valentino Rossi, recognized in his
                    being made Honorary President of the company in 2008. <br>
                    A further important innovation on the racetrack made possible by Amisano's vision and generosity was
                    Claudio Costa's life-saving ""Mobile Clinic"", which began providing trackside medical assistance to
                    riders in 1977.
                </div>
            </div>
        </h6>
    </div>
    <div class="row bg-black  ">
        <div class="col-md-6 col-12 bg-black">

            <div class="d-herosplit__copy text-center mt-2">
                <h3 style="color: #ffff;">
                    <f class="fs-3">MAKING THE FULL-FACE
                    </f><br><strong>A COMPLETE SOLUTION</strong>

                </h3>
                <p class="text-white mt-2 ">
                    In the meantime, helmet development continued apace and in 1969 AGV was the name on the first
                    full-face helmet to appear at an Italian Grand Prix, worn at Imola by Alberto Pagani. AGV's models
                    improved on the comfort, aerodynamics and field of vision of the early examples that appeared in the
                    United States, making the design its own. These strengths and the significantly enhanced safety of
                    its models ensured their rapid adoption not just by all the top motorcycle riders, but in Formula 1
                    as well. Within just a few years, Emerson Fittipaldi, Niki Lauda and Nelson Piquet were all to be
                    seen sporting the AGV logo.
                </p>
                <br>
                <br>

            </div>
        </div>

        <div class="col-md-6 col-12">
            <img src="/images/about-us-3.jpg" class="img-fluid" alt="" srcset="">
        </div>


    </div>
    <div class="container p-5">
        <h3 class="text-black me-auto p-3">
            <f class="fs-3 ">TO THE FUTURE</f><br><strong>
                AND BEYOND</strong>
        </h3>
        <h6 class=" text-black">
            <div class="row">
                <div class="col-md-6">The logo itself was also modernized, making it more expressive by taking the AGV
                    Initials and the red white and green of the Italian flag and incorporating them in the profile of a
                    full-face helmet seen from behind, which – as Amisano liked to joke – was how Agostini's rivals
                    always saw his helmet on the racetrack. <br>
                    This sense of fun has always set AGV apart when it comes to helmet colors and graphics, and has kept
                    it in the lead with the distinctive multicolored designs that express the exuberant spirit of
                    Valentino Rossi. <br>
                    Sharing similar track records for passion, creativity and world championship success, AGV was
                    acquired by fellow Italian motorcycling innovator Dainese in July 2007, enabling the two companies
                    to combine their leading expertise in advanced solutions delivering head-to-toe protection. In the
                    same year, AGV turned conventional thinking not just on its head but inside out, announcing a new
                    integrated technical design and construction approach called AGV Extreme Standards, which designs
                    around the rider's head and not the helmet shell.
                </div>
                <div class="col-md-6">
                    The results speak for themselves, with tangible and measurable improvements in protection, fit,
                    comfort, reliability and environmental impact. The Pista GP was the first Extreme Standards helmet,
                    launched to international acclaim in 2012. All current AGV helmets are designed following the AGV
                    Extreme Standards approach. <br>
                    As a member of the Dainese Group, AGV benefitted from substantial investment in 2015, when
                    Investcorp, a leading global provider and manager of alternative investment products, acquired an
                    80% stake to support our continued international expansion and product innovation. <br>
                    In 2017, our 70-year journey continues, striving ceaselessly for new performance and safety
                    advancements, living the values that have always distinguished AGV and its reputation for excellence
                    proven on the racetrack and road.
                </div>
            </div>
        </h6>
    </div>
</section>