<div class="lead-head">
    <!--// banner-inner -->
    <div class="banner-info">
        <p>Trending of the week</p>
        <h3 class="mb-4">Casual Shoes for Men</h3>
        <div class="ban-buttons">
            <a href="/allproducts" class="btn">Shop Now</a>
            <a href="/aboutus" class="btn active">Read More</a>
        </div>
    </div>

</div>
<section class="">
    <div class="container-fluid  p-5" style="background:#252525 ;">
        <div class="row ">
            <div class="col-md-4 col-12 ">
                <div class="card " style="background:#252525 ;">
                    <a href="/world-title"> <img src="/images/home-card-1.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body text-white">
                        <h5 class="card-title">PISTA GP RR WORLD CHAMPION 2002</h5>
                        <p class="card-text text-white">The helmet of Valentino Rossi’s 2002 world victory, in the first
                            season of the MotoGP™ era. Limited Edition..</p>

                        <a href="#" class="card-link text-white ">LEARN MORE</a>
                        <a href="#" class="card-link text-white">CASCHI DI VALE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 ">
                <div class="card " style="background:#252525 ;">
                    <a href="/accessories">
                        <img src="/images/home-card-2.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body text-white">
                        <h5 class="card-title">ACCESSORIES</h5>
                        <p class="card-text text-white">The latest accessories and visors are available online</p>

                        <a href="/accessories/visors" class="card-link text-white ">VISORS</a>
                        <a href="/accessories/communications" class="card-link text-white">INTERCOM</a>
                        <a href="/accessories/pads" class="card-link text-white"> INTERIORS</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 ">
                <a href="/pista-gp-rr">
                    <div class="card" style="background:#252525 ;">

                        <img src="/images/home-card-3.jpg" class="card-img-top" alt="...">
                        <div class="card-body ">
                            <h5 class="card-title text-white">PISTA GP RR</h5>
                            <p class="card-text text-white">Detail is not an obsession, it is the very essence of
                                perfection.</p>

                            <a href="#" class="card-link text-white ">LEARN MORE</a>
                            <a href="#" class="card-link text-white">SHOP NOW</a>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
<section class="p-5">
    <div class="row p-5">
        <div class="col-12 home-riding-style-head">
            <h2 class=".home-riding-style-head1">SHOP BY
                <a style="font-weight: 700;">RIDING STYLE</a>
            </h2>
        </div>
        <section>
            <div class="container">


                <div class="row justify-content-center">
                    <div class="col-6 col-sm-6  col-md-3">
                        <a href="/helmets/racing">
                            <div>
                                <img src="/images/home-riding-style-racing.png" class="img-fluid" style="width:225px ;">
                            </div>
                            <div class="text-center ">
                                <p class="home-riding-style-image-text">
                                    RACING
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <a href="/helmets/sport">
                            <div>
                                <img src="/images/home-riding-style-sport.png" class="img-fluid" style="width:225px ;">
                            </div>
                            <div class="text-center ">
                                <p class="home-riding-style-image-text">
                                    SPORT
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <a href="/helmets/touring">
                            <div>
                                <img src="/images/home-riding-style-touring.png" class="img-fluid"
                                    style="width:225px ;">
                            </div>
                            <div class="text-center ">
                                <p class="home-riding-style-image-text">
                                    TOURING
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <a href="/helmets/off-road">
                            <div>
                                <img src="/images/home-riding-style-OFFROAD.png" class="img-fluid"
                                    style="width:225px ;">
                            </div>
                            <div class="text-center ">
                                <p class="home-riding-style-image-text">
                                    OFF-ROAD
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

</section>

<section>
    <div class="container p-5 ">
        <div class="row ">
            <div class="button mb-5">
                <div class="searchBox">
                    <input class="searchInput" type="email" name="" placeholder="Email address*" required="">
                    <button class="searchButton" href="#">JOIN COMMUNITY</button>
                </div>
            </div>
        </div>
    </div>
</section>