<section>
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-12 ">
                            <h4>{{coupon.couponName}}</h4>
                            <p id="countdown"  value={{coupon.couponExpires}}>{{dateFormat coupon.couponExpires}} </p> <br> 
                            <a style="cursor: pointer;" onclick=copyCouponCode(this)>{{coupon.couponName}}</a>
                            <p>CLICK TO COPY THE CODE</p>
                        </div>
                        <div class="col-md-5 col-12 order-md-2 order-1"><img src="/images/1.jpg"
                                class="mx-auto" alt="slide"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-12 order-md-1 order-2">
                            <h4>SCRAM</h4>
                            <p>USE YOUR EMAIL PLUS FIRST10% TO OFFER 10% </p> <br> <a href="#">BUY NOW</a>
                        </div>
                        <div class="col-md-5 col-12 order-md-2 order-1"><img src="/images/2.jpg"
                                class="mx-auto" alt="slide"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> <button class="carousel-control-prev" href="" onclick="$('#myCarousel').carousel('prev')" role="button" data-slide="prev"> <span
            class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" href="" role="button" onclick="$('#myCarousel').carousel('next')" data-slide="next"> <span
            class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </button>
</div>
</section>
<section class="">
    <div class="container-fluid  p-5" style="background:#252525 ;">
        <div class="row ">
            <div class="col-md-4 col-12 ">
                <div class="card " style="background:#252525 ;">
                    <a href="/world-title"> <img src="/images/home-card-1.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body text-white">
                        <h5 class="card-title">PISTA GP RR WORLD CHAMPION 2002</h5>
                        <p class="card-text text-white">The helmet of Valentino Rossi’s 2002 world victory, in the first
                            season of the MotoGP™ era. Limited Edition..</p>

                        <a href="/world-title" class="card-link text-white ">LEARN MORE</a>
                        <a href="/world-title" class="card-link text-white">CASCHI DI VALE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 ">
                <div class="card " style="background:#252525 ;">
                    <a  href="javascript:void(0)" onclick="sortSize('accessories')">
                        <img src="/images/home-card-2.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body text-white">
                        <h5 class="card-title">ACCESSORIES</h5>
                        <p class="card-text text-white">The latest accessories and visors are available online</p>

                        <a href="javascript:void(0)" onclick="sortSize('visors')"  class="card-link text-white ">VISORS</a>
                        <a href="javascript:void(0)" onclick="sortSize('communications')" class="card-link text-white">INTERCOM</a>
                        <a href="javascript:void(0)" onclick="sortSize('pads')" class="card-link text-white"> INTERIORS</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 ">
                <a href="/pista-gp-rr">
                    <div class="card" style="background:#252525 ;">

                        <img src="/images/home-card-3.jpg" class="card-img-top" alt="...">
                        <div class="card-body ">
                            <h5 class="card-title text-white">PISTA GP RR</h5>
                            <p class="card-text text-white">Detail is not an obsession, it is the very essence of
                                perfection.</p>
                            <a href="/pista-gp-rr" class="card-link text-white ">LEARN MORE</a>
                            <a href="/pista-gp-rr" class="card-link text-white">SHOP NOW</a>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
<section class="p-5">
    <div class="row p-5">
        <div class="col-12 home-riding-style-head">
            <h2 class=".home-riding-style-head1">SHOP BY
                <a style="font-weight: 700;">RIDING STYLE</a>
            </h2>
        </div>
        <section>
            <div class="container">


                <div class="row justify-content-center">
                    <div class="col-6 col-sm-6  col-md-3">
                        <a  href="javascript:void(0)" onclick="sortSize('racing')">
                            <div>
                                <img src="/images/home-riding-style-racing.png" class="img-fluid" style="width:225px ;">
                            </div>
                            <div class="text-center ">
                                <p class="home-riding-style-image-text">
                                    RACING
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <a  href="javascript:void(0)" onclick="sortSize('racing')">
                            <div>
                                <img src="/images/home-riding-style-sport.png" class="img-fluid" style="width:225px ;">
                            </div>
                            <div class="text-center ">
                                <p class="home-riding-style-image-text">
                                    SPORT
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <a  href="javascript:void(0)" onclick="sortSize('touring')">
                            <div>
                                <img src="/images/home-riding-style-touring.png" class="img-fluid"
                                    style="width:225px ;">
                            </div>
                            <div class="text-center ">
                                <p class="home-riding-style-image-text">
                                    TOURING
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <a href="javascript:void(0)" onclick="sortSize('off-road')">
                            <div>
                                <img src="/images/home-riding-style-offroad.png" class="img-fluid"
                                    style="width:225px ;">
                            </div>
                            <div class="text-center ">
                                <p class="home-riding-style-image-text">
                                    OFF-ROAD
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

</section>

<section>
    <div class="container p-5 ">
        <div class="row ">
            <div class="button mb-5">
                <div class="searchBox">
                    <input class="searchInput" type="email" id="joinCommunity" name="joinCommunity" placeholder="Email address*" required>
                    <button class="searchButton"   onclick="joinCommunity()">JOIN COMMUNITY</button>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    #myCarousel .carousel-item .mask {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-attachment: fixed
    }

    #myCarousel h4 {
        font-size: 50px;
        margin-bottom: 15px;
        color: #FFF;
        line-height: 100%;
        letter-spacing: 0.5px;
        font-weight: 600
    }

    #myCarousel p {
        font-size: 18px;
        margin-bottom: 15px;
        color: #d5d5d5
    }

    #myCarousel .carousel-item a {
        background: #feFF31;
        font-size: 14px;
        color: #000;
        padding: 13px 32px;
        display: inline-block
    }

    #myCarousel .carousel-item a:hover {
        background: #feff31;
        text-decoration: none
    }

    #myCarousel .carousel-item h4 {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft
    }

    #myCarousel .carousel-item p {
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight
    }

    #myCarousel .carousel-item a {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp
    }

    #myCarousel .carousel-item .mask img {
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight;
        display: block;
        height: auto;
        max-width: 100%
    }

    #myCarousel h4,
    #myCarousel p,
    #myCarousel a,
    #myCarousel .carousel-item .mask img {
        -webkit-animation-duration: 1s;
        animation-duration: 1.2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both
    }

    #myCarousel .container {
        max-width: 1430px
    }

    #myCarousel .carousel-item {
        height: 100%;
        min-height: 550px
    }

    #myCarousel {
        position: relative;
        z-index: 1;
        background: #000;
        background-size: cover
    }

    .carousel-control-next,
    .carousel-control-prev {
        height: 40px;
        width: 40px;
        padding: 12px;
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
        background-color: #feff31
    }

    .carousel-item {
        position: relative;
        display: none;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        transition: -webkit-transform .6s ease;
        transition: transform .6s ease;
        transition: transform .6s ease, -webkit-transform .6s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px
    }

    .carousel-fade .carousel-item {
        opacity: 0;
        -webkit-transition-duration: .6s;
        transition-duration: .6s;
        -webkit-transition-property: opacity;
        transition-property: opacity
    }

    .carousel-fade .carousel-item-next.carousel-item-left,
    .carousel-fade .carousel-item-prev.carousel-item-right,
    .carousel-fade .carousel-item.active {
        opacity: 1
    }

    .carousel-fade .carousel-item-left.active,
    .carousel-fade .carousel-item-right.active {
        opacity: 0
    }

    .carousel-fade .carousel-item-left.active,
    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item-prev.active,
    .carousel-fade .carousel-item.active {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }

    @supports (transform-style:preserve-3d) {

        .carousel-fade .carousel-item-left.active,
        .carousel-fade .carousel-item-next,
        .carousel-fade .carousel-item-prev,
        .carousel-fade .carousel-item-prev.active,
        .carousel-fade .carousel-item.active {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
        }
    }

    .carousel-fade .carousel-item-left.active,
    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item-prev.active,
    .carousel-fade .carousel-item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    @-webkit-keyframes fadeInLeft {
        from {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0)
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
        }
    }

    @keyframes fadeInLeft {
        from {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0)
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
        }
    }

    .fadeInLeft {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft
    }

    @-webkit-keyframes fadeInUp {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0)
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
        }
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0)
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
        }
    }

    .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp
    }

    @-webkit-keyframes slideInRight {
        from {
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
            visibility: visible
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
        }
    }

    @keyframes slideInRight {
        from {
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
            visibility: visible
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
        }
    }

    .slideInRight {
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight
    }
</style>

<script>
 const expireDay = document.getElementById("countdown").innerHTML ;

 let countDownDate = new Date(expireDay).getTime()
 let x = setInterval(function () {
  const now = new Date().getTime()
  const distance = countDownDate - now;
  const days = Math.floor(distance / (1000 * 60 * 60 * 24));
  const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  const seconds = Math.floor((distance % (1000 * 60)) / 1000);

  document.getElementById("countdown").innerHTML = days + "D " + hours + "H "
   + minutes + "M " + seconds + "S ";

  if (distance < 0) {
   clearInterval(x);
   document.getElementById("countdown").innerHTML = "NO OFFERS AVAILABLE FOR NOW";
  }
 }, 1000);
</script>
<script src="/javascripts/ajax.js"></script>