
<section>
    <div class="row ">
        <img src="/images/login.png" alt="" class="img-fluid">
        <div class="container bg-black ">
            <div class="login-box">
                <h2>LOG IN</h2>

                <form action="/login" id="login" method="post">
                    <div class="user-box">
                        <input type="email" name="email" value="bin@123" required>
                        <label>Email</label>
                    </div>
                    {{#if idError}}
                    <p class="text-warning">"{{idError}}"" </p>
                    {{/if}}
                    <div class="user-box">
                        <input type="password" name="password" value="12345678" required>
                        <label>Password</label>
                    </div>
                    <div>
                        <a href="/change-password" style="color:#feff31 ;">Forget Password ?</a>
                    </div>
                    <button type="submit" value=""> {{!--kokk--}}
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        LOGIN
                    </button><br>
                      <button onclick="location.href='/signup'">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        CREATE ACCOUNT
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>