<section>
    <ol class="breadcrumb ">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">PISTA-GP-RR</li>
    </ol>
    <div class="row bg-black text-center">
        <h1>
            <img src="/images/logo-pista-gp-rr.png" alt="pista-gp-rr" style="height: 35px;width:259px ;">
        </h1>
        <a href="" style="font-size: 1rem;
    line-height: 24px;
    font-weight: 600;
    white-space: nowrap;" class="text-white">SHOP</a>

    </div>

    <div class="row">
        <div class="col-12 ">
            <iframe width="100%" height="700vh" src="https://www.youtube.com/embed/Xgv3uZ5Cptg" title=""
                allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row bg-black  ">
        <div class="col-md-6 col-12 bg-black">

            <div class="d-herosplit__copy text-center">
                <h3 style="color: #ffff;">
                    <strong>THE PERFECTION OF OBSESSION</strong>
                </h3>
                <p class="description">
                    The precision of every part, the ecstasy of materials. Performance that excites while it seduces.
                    The obsession is overcoming the limits of one's imagination, redefining every known parameter that
                    is deemed impassable.
                    Excellence is not enough. Become invincible.
                </p>
                <br>
                <br>
                <a class="btn active " href="/view-product/{{pistaGpId}}">
                    Shop Now
                    <span style="margin-left: 1em;"><i class="fas fa-arrow-right"></i></span>
                </a>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <img src="/images/pista-gp-1.jpg" class="img-fluid" alt="" srcset="">
        </div>


    </div>

    <div class="row bg-black ">
        <div class="col-md-6 col-12">
            <img src="/images/pista-gp-2.jpg" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-md-6 col-12 bg-black">

            <div class="d-herosplit__copy text-center">
                <h3 style="color: #ffff;">
                    <strong>EXTREME PERFORMANCE</strong>
                </h3>
                <p class="description">

                    Making the impossible possible
                    Every detail of the Pista GP RR is designed for off-the-charts performance. Meticulous research into
                    refined materials and brand-new technological solutions makes for extreme protection. The same
                    guaranteed to MotoGP™ riders. No difference. A 100% carbon fiber shell, metal alloy air vents,
                    incredibly reduced visor mechanisms. A level of safety that makes the impossible possible.
                </p>
                <br>
                <br>
                <a class="btn active " href="/view-product/{{pistaGpId}}">
                    Shop Now
                    <span style="margin-left: 1em;"><i class="fas fa-arrow-right"></i></span>
                </a>
            </div>
        </div>


    </div>
    <div class="row bg-black ">
        <div class="col-md-6 col-12 bg-black">

            <div class="d-herosplit__copy text-center">
                <h3 style="color: #ffff;">
                    <strong>AERODYNAMICS, STABILITY, SPEED</strong>
                </h3>
                <p class="description">

                    Modeled by the air, to take on the air
                    Its shape cuts through the air, every detail designed to conquer its resistance. The characteristic
                    wedge chinguard, the aerodynamic channels carved on top of the shell, the metal alloy air vents with
                    winged profile, and the spoiler designed to eliminate the dynamic weight of the helmet and act in
                    synergy with the suit's aerodynamic hump. Perfection is in the details. And it's all modeled by the
                    wind, so that the rider can fly beyond all limits.
                </p>
                <br>
                <br>
                <a class="btn active " href="/view-product/{{pistaGpId}}">
                    Shop Now
                    <span style="margin-left: 1em;"><i class="fas fa-arrow-right"></i></span>
                </a>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <img src="/images/pista-gp-3.jpg" class="img-fluid" alt="" srcset="">
        </div>


    </div>
    <div class="row bg-black ">
        <div class="col-md-6 col-12">
            <img src="/images/pista-gp-4.jpg" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-md-6 col-12 bg-black">
            <div class="d-herosplit__copy text-center">
                <h3 style="color: #ffff;">
                    <strong>THE CONFIDENCE OF CONTROL</strong>
                </h3>
                <p class="description">

                    Designed to set records, born to be a legend
                    Control is everything for a warrior. The fully customized interior, the extremely lightweight and
                    breathable materials, the integrated hydration system, the optical class 1 Ultravision visor:
                    details that are obsessed over so as to give the rider absolute confidence and awareness. The mind
                    is focused solely on the road. The perfect serenity with which to set new records, and become a
                    legend.
                </p>
                <br>
                <br>
                <a class="btn active " href="/view-product/{{pistaGpId}}">
                    Shop Now
                    <span style="margin-left: 1em;"><i class="fas fa-arrow-right"></i></span>
                </a>
            </div>
        </div>


    </div>
    <div class="row bg-black ">
        <div class="col-md-6 col-12 bg-black">

            <div class="d-herosplit__copy text-center">
                <h3 style="color: #ffff;">
                    <strong></strong>
                </h3>
                <p class="description">
                    Detail is not an obsession,
                    it is the very essence of perfection..
                </p>
                <br>
                <br>
                <a class="btn active " href="">
                    Shop Now
                    <span style="margin-left: 1em;"><i class="fas fa-arrow-right"></i></span>
                </a>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <img src="/images/pista-gp-5.jpg" class="img-fluid" alt="" srcset="">
        </div>


    </div>
    <div class="row bg-black">
        <div class="d-herosplit__copy text-center">
            <h3 style="color: #ffff;">
                <strong>DISCOVER THE <span class="fw-bold"> COLLECTION</span></strong>

                <a class="btn active ms-1" href="">
                    Shop Now
                    <span style="margin-left: 1em;"><i class="fas fa-arrow-right"></i></span>
                </a>
            </h3>
        </div>
</section>