<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>
<section class="">
    <div class="row" style="margin-right: 0em;">

        <div class="container bg-black ">
            <div class="col-md-8 col-12 p-5   login-box">

                <form action="/signup" method="post" id="userSignup">
                    <div class="row mb-3 ">
                        {{#if idError}}
                        <p class="text-warning">"{{idError}}""</p>
                        {{/if}}
                        <div class="col  ">
                            <p>EMAIL*</p>
                            <input name="email" class="form-control" placeholder="">
                        </div>
                        <div class="col">
                            <p>MOBILE*</p>
                            <input type="tel" name="phone" class="form-control" placeholder="MOBILE NUMBER*"
                                value="+91">
                        </div>
                    </div>
                    <div class="row mb-3 ">
                        <div class="col ">
                            <p>PASSWORD*</p>
                            <input type="password" name="password" class="form-control" placeholder="PASSWORD*"
                                id="password">
                        </div>
                        <div class="col">
                            <p>CONFIRM*</p>
                            <input type="password" class="form-control" placeholder="CONFIRM PASSWORD*"
                                id="confirm_password" name="confirm_password">
                            <span id="message"></span>
                        </div>
                    </div>
                    <div class="row mb-3 ">
                        <div class="col ">
                            <p>FIRST NAME*</p>
                            <input type="text" name="firstName" class="form-control" placeholder="FIRST NAME*">
                        </div>
                        <div class="col">
                            <p>LAST NAME*</p>
                            <input type="text" name="lastName" class="form-control" placeholder="LAST NAME*">
                        </div>
                    </div>
                    <div class="row mb-3 ">
                        <div class="col ">
                        </div>
                        <div class="col">
                            <p>GENDER*</p>
                            <select class="form-select" name="gender" aria-label="Default select example">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3 ">
                        <div class="form-check">
                            <p class="mt-5">By submitting this form, you confirm to have read and understood the
                                Dainese S.p.A. Privacy Policy. To allow us to stay in touch with you, tick the
                                following boxes:</p>
                            <input class="form-check-input text-white bg-warning" type="checkbox" value="" id="consent"
                                name="consent">
                            <label class="form-check-label text-white">I AGREE</p>
                        </div>
                        <div class="col-3 ms-5">
                            <button type="submit" id="signup">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                SIGN UP
                            </button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>

{{!-- VALIDATION --}}  
<script>
    $("#userSignup").validate({
        errorClass: 'signupError',

        rules: {
            firstName: {
                lettersonly: true,
                required: true,
                minlength: 3,
                maxlength: 20
            },
            lastName: {

                required: true,
                maxlength: 20
            },
            email: {
                required: true,
                Email: true

            },
            phone: {
                required: true,
                phoneIN: true,
            },
            password: {
                required: true,
                rangelength: [7, 14]
            },
            confirm_password: {
                required: true,
                equalTo: '#password'
            },
            consent: {
                required: true
            }
        },
        messages: {
            firstName: {
                required: "Enter first name",
                minlength: "Enter atleast 3 characters",
                maxlength: "Not more than 15 characters"
            },
            lastName: {
                required: "Enter second name",
                maxlenth: "not more than 15 characters"
            },
            email: {
                required: "Enter your emailaddress",
                email: "Enter a valid email adress"
            },
            password: {
                required: "Enter a password",
                rangelength: "Enter characters between 7 to 14 ",
            },
            confirm_password: {
                required: "Confirm your password",
                equalTo: "Password doesn't match",
            },
            phone: {
                required: "Please enter your number",
            },
            consent: {
                required: "Please agree to our terms and condition"
            }
        },
    })

    jQuery.validator.addMethod('phoneIN', function (phone_number, element) {

        return this.optional(element) || phone_number.length >= 13 &&
            phone_number.match(/^((\+91[0-9]{10}))$/);
    }, 'Please enter a valid mobile number starts with +91 and no space');

    jQuery.validator.addMethod("Email", function (value, element) {
        return this.optional(element) || /^\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{1,4}\b$/i.test(value);
    }, 'Please enter a valid email address.(sample@scram.com)');


</script>